.content {
  max-width: 46rem;
  width: 100%;

  margin: 0 auto;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasks > .items {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}