.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.comment-box {
  flex: 1;
}

.comment-box footer {
  margin-top: 1rem;
}

.comment-box footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: color 0.2s, background-color 0.2s;

  border-radius: 2px;
}

.comment-box footer button:hover {
  color: var(--green-300);
}

.comment-box footer button svg {
  margin-right: 0.5rem;
}

.comment-box footer button span::before {
  padding: 0 0.25rem;
  content: "\2022";
}

.comment-content {
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.comment-content header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comment-content header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  border-radius: 4px;

  line-height: 0;
  display: flex;
  justify-content: center;

  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}

.comment-content header button:hover {
  color: var(--red-500);
}

.comment-content p {
  margin-top: 1rem;
  color: var(--gray-300);
}

.author-and-time strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.author-and-time time {
  display: block;
  flex-direction: column;
  font-size: 0.75rem;
  color: var(--gray-400);
}